* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: #131a1c;
}

.stars {
  position: relative;

  width: 300px;
  height: 300px;
  animation: animateColor 7.2s linear infinite;
}
@keyframes animateColor {
  0% {
    filter: hue-rotate(0);
  }

  100% {
    filter: hue-rotate(360deg)
  }
}

.stars span {
  position: absolute;
  
  transform-origin: 150px;
  transform: translateX(-150px) rotate(calc(var(--i) * 30deg));
  filter: drop-shadow(0 0 5px #3cc2ff) drop-shadow(0 0 15px #3cc2ff) drop-shadow(0 0 30px #3cc2ff);
}

.stars span i {
  position: relative;
  display: block;
  color: #3cc2ff;
  
  animation: rotateStar 2.4s linear infinite;
  animation-delay: calc(var(--i) * -0.2s);
}
@keyframes rotateStar {
  0% {
    transform: rotate(0) scale(0);
  }

  50% {
    transform: rotate(180deg) scale(3);
  }

  100% {
    transform: rotate(360deg) scale(0);
  }
}

.stars span::before {
  content: "\e62b";
  font-family: "iconfont";
  font-size: 0.75em;
  color: #131a1c;
  position: absolute;

  animation: rotateParticle 2.4s linear infinite;
  animation-delay: calc(var(--i) * -0.2s);
}
@keyframes rotateParticle {
  0% {
    scale: 1;
    opacity: 0;
    rotate: 0;
  }

  50% {
    scale: 1;
    opacity: 1;
    rotate: 180deg;
  }

  100% {
    scale: 0;
    opacity: 0;
    rotate: 360deg;
    filter: drop-shadow(-150px 0 #3cc2ff) drop-shadow(150px 0 #3cc2ff) drop-shadow(0 -150px #3cc2ff) drop-shadow(0 150px #3cc2ff);
  }
}


@media screen and (max-width: 576px) {
  .stars {
    transform: scale(.6);
  }
}
